h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*CADASTRO*/
#cad-pessoa form h2{
color: #494c4c;
text-align: center;
}

#cad-pessoa form{
    display: block;
    font-family: 'Arial';
    align-items: stretch;
    justify-content: center;
    background-color: ghostwhite;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    width:20%;
    margin-left: 500px;
        padding: 20px 20px 20px 20px;
        padding-bottom: 15px;
        padding-left: 20px;
    border: 1px solid #ccc;
    line-height: 15px;
    line-break: strict;
}
#cad-pessoa label{
    display:block;
    font-size: 17px;
    margin: 5px 0 5px;
}

/*BUSCA*/
#busca form{
    display: flex;
    width: 30%;
    height: 60px;
    margin-left: 35%;
    margin-top: 30px;
    display: flex;
}
#busca form #buscaa{
    width: 80%;
    height: 100%;
    border-radius: 60px;
    text-align: left;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.475);
    padding-left: 30px;
    font-size: 20px;
    color: black;
}

#busca form #bola{
    width: 15%;
    height: 90%;
    margin-top: 0.7%;
    margin-left: 3%;
    border-radius: 110%;
    border: none;
    background: no-repeat 50% 50% url(https://images.tcdn.com.br/files/934950/themes/11/img/settings/lupa-branca-png-3-Transparent-Images.png?808beac80f53c6e6f7afc413793d62f2) linear-gradient(to bottom, rgb(214, 28, 143), rgb(111, 7, 145));
    background-size: 20%;
}

/*LOGIN*/
#login{

}
